<h1>Listing trackdays</h1>

<table>
  <thead>
    <tr>
      <th>Track</th>
      <th>Organization</th>
      <th>Session type</th>
      <th>Price</th>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @trackdays.each do |trackday| %>
      <tr>
        <td><%= trackday.track %></td>
        <td><%= trackday.organization %></td>
        <td><%= trackday.session_type %></td>
        <td><%= trackday.price %></td>
        <td><%= trackday.date %></td>
        <td><%= link_to 'Show', admin_trackday_path(trackday) %></td>
        <td><%= link_to 'Edit', edit_admin_trackday_path(trackday) %></td>
        <td><%= link_to 'Destroy', admin_trackday_path(trackday), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trackday', new_admin_trackday_path, class: "button" %>
