<% @trackdays.group_by(&:month).each do |month, trackdays| %>
  <div class="month">
    <a name="<%= month %>"></a>
    <h2 data-magellan-destination="<%= month %>"><%= month %></h2>
  </div>

  <% trackdays.each do |trackday| %>
    <h2><%= trackday.track %></h2>
    <p><%= trackday.organization %></p>
    <p><%= trackday.session_type %></p>
    <i><%= trackday.price %></i>
  <% end %>
<% end %>
