<% @trackdays.group_by(&:month).each do |month, trackdays| %>
  <div class="month">
    <a name="<%= month %>"></a>
    <h3 data-magellan-destination="<%= month %>"><%= month %></h3>
  </div>

  <% trackdays.each do |trackday| %>
  <div class="trackday">
    <div class="track-map">
    </div
    ><div class="day-info">
      <h3><%= trackday.track %></h3>
      <p>
        <%= trackday.organization %><br>
        <%= trackday.session_type %> Session
      </p>
      <i>$<%= trackday.price %></i>
    </div>
  </div>
  <% end %>
<% end %>
