<% @trackdays.group_by(&:month).each do |month, trackdays| %>
  <div class="month">
    <a name="<%= month %>"></a>
    <h3 data-magellan-destination="<%= month %>"><%= month %></h3>
  </div>

  <% trackdays.group_by(&:day).each do |day, trackdays| %>
    <div class="day">
      <h3><%= day %></h3>
    </div>

    <% trackdays.each do |trackday| %>
    <a href="<%= trackday.link %>" target="_blank">
      <div class="trackday">
        <div class="track-map <%= trackday.track.downcase.gsub(/\s/,'-') %>">
        </div
        ><div class="day-info">
          <h3><%= trackday.track %></h3>
          <p>
            <%= trackday.organization %><br>
            <%= trackday.session_type %> Session
          </p>
          <i>$<%= trackday.price %></i>
        </div>
      </div>
    </a>
    <% end %>
  <% end %>
<% end %>

<div class="finish-line"></div>
