<div class="trackday-detail">
  <div class="large <%= @trackday.track.downcase.gsub(/\s/,'-') %>">
  </div>

  <div class="day-details">
    <h1><%= @trackday.track %></h1>
    <h3>
      <%= @trackday.organization %><br>
      <%= @trackday.session_type %> Session
    </h3>
    <i>$<%= @trackday.price %></i>
  </div>
</div>
