<header>
  <div class="large-header <%= !@trackdays %>">
    <a href="/" class="logo" alt="trackcal"></a>

    <%= render "layouts/sharing_links" %>

    <div class="navigation">
      <ul class="inline-list">
        <li><%= link_to 'About', static_path('about') %></li>
        <li><%= link_to 'Contact', static_path('contact') %></li>
      </ul>
    </div>

    <% if @trackdays %>
      <div class="headline">
        <h1>2015 Southwest U.S. Motorcycle Trackday Calendar</h1>
      </div>
    <% end %>  
  </div>

  <div class="filter-bar" id="filter-bar">
    <% if @trackdays %>
      <%= render 'layouts/magellan' %>
    <% end %>
  </div>
</header>
