<!DOCTYPE html>
<html>
  <%= render 'layouts/app_head' %>

  <body>
    <%= render "layouts/ga" if Rails.env.production? %>
    
    <%= render 'layouts/social_sharing' %>

    <%= render 'layouts/header' %>

    <main role="main" id="main-content">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>

    <footer>
      <%= render "layouts/footer" %>
    </footer>

    <%= render "layouts/closing_scripts" %>
  </body>
</html>
